<% provide(:title, 'Job Requirement')%>
<h1>Job Requirement</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@job) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

	with in:   <%= f.text_field :miles, style: "width: 120px" %> miles 
	of zip code: <%= f.text_field :zipcode, style: "width: 120px" %>
    
    <%= f.label :description, "In no more than 400 characters, tell us who you are looking to hire:" %>
    <%= f.text_area :description, cols: "30", rows: "10" %>
        
    Ideally, how many years of experience specific to this job would you like the candidate to have?
    <%= f.text_field :year_experience, style: "width: 120px" %>
    
    <%= f.label :key_words, "Key Words" %>
    <%= f.text_area :key_words, cols: "30", rows: "10"  %>
    
    <%= f.submit "Search Candidates", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>